@import '~antd/dist/antd.css';

#components-layout-demo-fixed .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
.site-layout .site-layout-background {
  background: #fff;
}
.brand {
  color: white;
  font-size: x-large;
}

.getData {
  justify-content: center;
  display: flex;
  margin-top: 20px;
  text-align: center;
}

.showData {
  justify-content: center;
  display: flex;
  text-align: center;
}

#username {
  width: 350px;
  height: 35px;
  border-radius: 30px;
  border-width: 2px;
  margin-right: 10px;
}

.searchlabel {
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

.gitbg {
  justify-content: center;
  display: flex;
  margin-top: 40px;
  font-size: 250px;
  text-align: center;
}

.errmsg {
  justify-content: center;
  display: flex;
  margin-top: 10px;
  text-align: center;
}